* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url(./assets/123.jpg); */
  width: 1900px;
  background-size: cover;
  background-color: rgb(117, 117, 117);
}
