* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1900px;
  min-height: 100vh;
  background-color: #f0f8ff;
  background-color: mintcream;
  background-color: #dadbd3;

  /* background-color: rgb(117, 117, 117); */
}
